<h1>Marketers</h1>
<p>You know who buys your tickets, suites and in­house merchandise.</p>

<p>Do you know which fans travel to see you play?</p>

<p>Do you know who hosts watch parties to see you play?</p>

<p>Who is really watching your games, buying your merchandise, and creating value for your team?</p>

<p><%= link_to 'Sign up', new_marketer_path %> to find out. Ultimate Fanbase coming soon.</p>

<%= link_to 'Sign up', new_marketer_path, class: 'btn btn-primary' %>

