<% content_for :page_title do %>
 Marketers
<% end %>
<p class="lead">You know who buys your tickets, suites and in­house merchandise.</p>

<p class="lead">Do you know which fans travel to see you play?</p>

<p class="lead">Do you know who hosts watch parties to see you play?</p>

<p class="lead">Who is really watching your games, buying your merchandise, and creating value for your team?</p>

<p class="lead"><%= link_to 'Sign up', new_marketer_path %> to find out. Ultimate Fanbase coming soon.</p>

<%= link_to 'Sign up', new_marketer_path, class: 'btn btn-lg btn-default' %>
