<h1>Ultimate Fan Base Sticker Giveaway</h1>
<p>Your favorite team lays it all on the line for YOU!</p>

<p>Now it’s your turn to compete. </p>

<p>Connect with other fans and prove who has the Ultimate Fanbase and find out if YOU are the </p>

<h2>ULTIMATE FAN</h2>
<p>Are you a <%= link_to 'fan', new_user_path %> or a <%= link_to 'marketer', new_marketer_path %></p>
