<h1>Thank You!</h1>

<p>Current standings:</p>
<ol>
  <% @teams.each do |team| %>
    <li><strong><%= team.name %></strong>: <%= team.users.count %></li>
  <% end %>
</ol>

 <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ultimatefanbase.herokuapp.com" data-text="Free stickers for the best fans" data-via="ultimatefanbase" data-hashtags="ultimatefanbase">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
