<h1>Thank You!</h1>

<p>You may have just put your team on the board. Check out the current standings:</p>
<ol>
  <% @teams.each do |team| %>
    <li value=<%= @teams.select{|t| t.users.count > team.users.count}.count + 1 %>><strong><%= team.name %></strong></li>
  <% end %>
</ol>
<p>Remember, there's no "too many men on the field" penalty here, so tell all your friends to pile on!</p>
 <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/1kCdX5z" data-text="Free stickers for the best fans" data-via="UltFanBase" data-hashtags="ultimatefanbase">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
